*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:

    Arial,
    sans-serif;

  direction:rtl;

  overflow-x:hidden;

  background:#071739;
}

button{

  cursor:pointer;

  transition:0.3s;
}

button:hover{

  opacity:0.9;

  transform:scale(1.02);
}

input,
select,
textarea{

  outline:none;

  transition:0.3s;
}

input:focus,
select:focus,
textarea:focus{

  transform:scale(1.01);

  box-shadow:
    0 0 0 3px
    rgba(37,99,235,0.3);
}

a{

  transition:0.3s;
}

a:hover{

  opacity:0.9;
}

::-webkit-scrollbar{

  width:10px;
}

::-webkit-scrollbar-track{

  background:#0f172a;
}

::-webkit-scrollbar-thumb{

  background:#2563eb;

  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{

  background:#1d4ed8;
}

@media(max-width:768px){

  h1{
    font-size:32px !important;
  }

  h2{
    font-size:22px !important;
  }

  h3{
    font-size:18px !important;
  }

  button{
    font-size:16px !important;
  }

  input,
  select,
  textarea{

    font-size:16px !important;
  }

}